[access]
	inheritFrom = mirrored-repos
[project]
	description = To submit patches to SeaBIOS, see https://www.seabios.org/Contributing
[access "refs/*"]
	owner = group SeaBIOS developers
	forgeAuthor = group SeaBIOS developers
	forgeCommitter = group SeaBIOS developers
	push = group SeaBIOS developers
	pushMerge = group SeaBIOS developers
	create = group SeaBIOS developers
	createTag = group SeaBIOS developers
	createSignedTag = group SeaBIOS developers
	delete = group SeaBIOS developers
[access "refs/heads/master"]
	create = group SeaBIOS developers
	createSignedTag = group SeaBIOS developers
	createTag = group SeaBIOS developers
	delete = group SeaBIOS developers
	forgeAuthor = group SeaBIOS developers
	forgeCommitter = group SeaBIOS developers
	push = +force group SeaBIOS developers
	pushMerge = group SeaBIOS developers
